flow.json
[{"id":"4507fdcc.9441d4","type":"tab","label":"MoDetFTP","disabled":false,"info":"Motion Detection for IPCams over FTP"},{"id":"db3e4528.9c0b28","type":"tab","label":"WazeETA","disabled":false,"info":"Text IFTTT and extract ETA information, post to MQTT sensor"},{"id":"1e4d139e.30fabc","type":"mqtt-broker","z":"","name":"twohunnid_mqtt","broker":"192.168.1.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6efa5ae8.cffb74","type":"ftp-server","z":"4507fdcc.9441d4","name":"MoDetFTP","port":"7077","x":80,"y":40,"wires":[["79fa05a6.00b36c"]]},{"id":"7cb07afd.600704","type":"mqtt out","z":"4507fdcc.9441d4","name":"MoDetMQTT","topic":"","qos":"2","retain":"true","broker":"1e4d139e.30fabc","x":1030,"y":180,"wires":[]},{"id":"79fa05a6.00b36c","type":"function","z":"4507fdcc.9441d4","name":"path and filename to payload","func":"parts = msg.topic.split('/');\nfiledata = msg.payload;\nmsg.payload = {};\nmsg.payload.path = msg.topic;\nmsg.payload.image = filedata;\nmsg.payload.sensor_name = null;\nif(parts.length > 1) {\n    msg.payload.sensor_name = parts[1];\n    msg.payload.image_path = parts;\n    msg.payload.value = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":100,"wires":[["5db8e9d4.19ba38"]]},{"id":"4b7d1dd.fadabe4","type":"function","z":"4507fdcc.9441d4","name":"Send HASS AutoDiscovery MQTT Config","func":"var sensor_config = {\n    payload: {\n        name: \"MoDetFTP: \"+msg.payload.sensor_name,\n        state_topic: \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/state\",\n        device_class: \"motion\",\n        payload_on: 1,\n        payload_off: 0,\n        value_template: \"{{ value_json.value }}\",\n        json_attributes_topic: \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/state\",\n    },\n    topic: \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/config\"\n};\nreturn sensor_config;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["fc2c8e70.23fa8"]]},{"id":"8e933788.a46688","type":"delay","z":"4507fdcc.9441d4","name":"Send Sensor Payload after 500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":180,"wires":[["fc2c8e70.23fa8"]]},{"id":"5db8e9d4.19ba38","type":"function","z":"4507fdcc.9441d4","name":"payload to MQTT","func":"msg.topic = \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/state\";\nmsg.payload.image = null;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["4b7d1dd.fadabe4","8e933788.a46688","6da07b80.652404"]]},{"id":"ced9ebd1.240888","type":"change","z":"4507fdcc.9441d4","name":"detection level to 0","rules":[{"t":"set","p":"payload.value","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":280,"wires":[["fc2c8e70.23fa8"]]},{"id":"fc2c8e70.23fa8","type":"function","z":"4507fdcc.9441d4","name":"merge flows","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["7cb07afd.600704"]]},{"id":"6da07b80.652404","type":"trigger","z":"4507fdcc.9441d4","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"s","reset":"","bytopic":"topic","name":"Clear Sensor after 10s of no motion","x":520,"y":240,"wires":[["ced9ebd1.240888"]]},{"id":"15ee600.b8d0fa","type":"http in","z":"db3e4528.9c0b28","name":"post to /wazeeta","url":"/wazeeta","method":"post","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["8fb498fc.672688","4aa8ffea.af313"]]},{"id":"8fb498fc.672688","type":"template","z":"db3e4528.9c0b28","name":"response OK template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"status\": \"ok\"}","output":"str","x":320,"y":140,"wires":[["e77295d3.bb1c48"]]},{"id":"e77295d3.bb1c48","type":"http response","z":"db3e4528.9c0b28","name":"response OK","statusCode":"200","headers":{"content-type":"application/json"},"x":590,"y":140,"wires":[]},{"id":"ff350c0c.db707","type":"switch","z":"db3e4528.9c0b28","name":"waze message?","property":"payload.message","propertyType":"msg","rules":[{"t":"cont","v":"Follow my drive using Waze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":320,"wires":[["79830ba7.1b62c4"]]},{"id":"79830ba7.1b62c4","type":"string","z":"db3e4528.9c0b28","name":"extract dest","methods":[{"name":"between","params":[{"type":"str","value":"on my way to "},{"type":"str","value":" arriving"}]}],"prop":"payload.message","propout":"payload.destination","object":"msg","objectout":"msg","x":490,"y":320,"wires":[["f51088bd.f35c28"]]},{"id":"f51088bd.f35c28","type":"string","z":"db3e4528.9c0b28","name":"extract arrival time","methods":[{"name":"between","params":[{"type":"str","value":"arriving at "},{"type":"str","value":". Follow my drive"}]}],"prop":"payload.message","propout":"payload.arrival_time","object":"msg","objectout":"msg","x":510,"y":360,"wires":[["1027bac.e33c745"]]},{"id":"1027bac.e33c745","type":"moment","z":"db3e4528.9c0b28","name":"parse incoming time","topic":"","input":"payload.arrival_time","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"payload.arrival_time_parsed","outputType":"msg","outTz":"America/Los_Angeles","x":520,"y":400,"wires":[["38c53642.47b2da"]]},{"id":"147f5116.5c027f","type":"inject","z":"db3e4528.9c0b28","name":"TestMessage","topic":"payload","payload":"{\"from\":\"+15558675309\",\"message\":\"I'm on my way to Work arriving at 10:45 PM. Follow my drive using Waze:\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["4aa8ffea.af313"]]},{"id":"b7a76778.15edd","type":"function","z":"db3e4528.9c0b28","name":"Parse to HMS","func":"eta = msg.payload.arrival_time_parsed;\nnow = msg.payload.now;\n\neta_date = new Date(eta.years,eta.months,eta.date,eta.hours,eta.minutes,eta.seconds,0);\nnow_date = new Date(now.years,now.months,now.date,now.hours,now.minutes,now.seconds,0);\n\ntotalseconds = (eta_date - now_date) /1000;\nhours = Math.floor(totalseconds / 3600);\nminutes = Math.floor((totalseconds / 60) % 60);\nseconds = Math.floor(totalseconds % 60);\n\nmsg.payload.hms = hours.toString().padStart(2,'0') + \":\" + minutes.toString().padStart(2,'0') + \":\" + seconds.toString().padStart(2,'0');\nmsg.payload.totalseconds = totalseconds\nmsg.payload.hours = hours;\nmsg.payload.minutes = minutes;\nmsg.payload.seconds = seconds;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["67b96202.6fa9dc"]]},{"id":"4517cb40.ea9e74","type":"moment","z":"db3e4528.9c0b28","name":"inject current time","topic":"","input":"","inputType":"date","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"payload.now","outputType":"msg","outTz":"America/Los_Angeles","x":510,"y":480,"wires":[["b7a76778.15edd"]]},{"id":"67b96202.6fa9dc","type":"function","z":"db3e4528.9c0b28","name":"payload to MQTT","func":"msg.topic = \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[["7d7f3b4b.1065b4","40659e05.fb56"]]},{"id":"3f8759f8.ce7216","type":"mqtt out","z":"db3e4528.9c0b28","name":"WazeETAMQTT","topic":"","qos":"2","retain":"true","broker":"1e4d139e.30fabc","x":1080,"y":740,"wires":[]},{"id":"7d7f3b4b.1065b4","type":"function","z":"db3e4528.9c0b28","name":"Send HASS AutoDiscovery MQTT Config","func":"var sensor_config = {\n    payload: {\n        name: \"Waze ETA: \"+msg.payload.from,\n        state_topic: \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/state\",\n        value_template: \"arriving to {{ value_json.destination }} at {{ value_json.arrival_time_string }}\",\n        json_attributes_topic: \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/state\",\n    },\n    topic: \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/config\"\n};\nreturn sensor_config;","outputs":1,"noerr":0,"x":580,"y":680,"wires":[["2019c9bb.aeda86"]]},{"id":"40659e05.fb56","type":"delay","z":"db3e4528.9c0b28","name":"Send Sensor Payload after 500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":740,"wires":[["2019c9bb.aeda86"]]},{"id":"2019c9bb.aeda86","type":"function","z":"db3e4528.9c0b28","name":"merge flows","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["bdb2e0d5.ad1cd","3f8759f8.ce7216"]]},{"id":"bdb2e0d5.ad1cd","type":"debug","z":"db3e4528.9c0b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":680,"wires":[]},{"id":"38c53642.47b2da","type":"moment","z":"db3e4528.9c0b28","name":"parse incoming time to string","topic":"","input":"payload.arrival_time","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd, MMM Do YYYY, h:mm a","locale":"en_US","output":"payload.arrival_time_string","outputType":"msg","outTz":"America/Los_Angeles","x":540,"y":440,"wires":[["4517cb40.ea9e74"]]},{"id":"4aa8ffea.af313","type":"secret","z":"db3e4528.9c0b28","name":"valid phone numbers and names","x":350,"y":200,"wires":[["93dc7cf8.7a391"]]},{"id":"93dc7cf8.7a391","type":"json","z":"db3e4528.9c0b28","name":"parse json secrets","property":"secret","action":"","pretty":false,"x":310,"y":240,"wires":[["20d1bb99.47a244"]]},{"id":"20d1bb99.47a244","type":"function","z":"db3e4528.9c0b28","name":"from valid number?","func":"if(msg.secret.hasOwnProperty(msg.payload.from)){\n    msg.payload.from = msg.secret[msg.payload.from]\n    return msg\n}\nreturn null;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["ff350c0c.db707"]]}]