flow.json
[{"id":"4507fdcc.9441d4","type":"tab","label":"MoDetFTP","disabled":false,"info":"Motion Detection for IPCams over FTP"},{"id":"db3e4528.9c0b28","type":"tab","label":"WazeETA","disabled":false,"info":"Text IFTTT and extract ETA information, post to MQTT sensor"},{"id":"19a0c8a7.4f2ce7","type":"tab","label":"Halloween Stuff","disabled":false,"info":""},{"id":"1e4d139e.30fabc","type":"mqtt-broker","z":"","name":"twohunnid_mqtt","broker":"192.168.1.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23f23227.0a5f4e","type":"server","z":"","name":"twohunnid_ha","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"14a18263.e5bbde","type":"mqtt-broker","z":"","name":"200mqtt","broker":"192.168.1.19","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6efa5ae8.cffb74","type":"ftp-server","z":"4507fdcc.9441d4","name":"MoDetFTP","port":"7077","x":80,"y":40,"wires":[["79fa05a6.00b36c"]]},{"id":"7cb07afd.600704","type":"mqtt out","z":"4507fdcc.9441d4","name":"MoDetMQTT","topic":"","qos":"2","retain":"true","broker":"1e4d139e.30fabc","x":1030,"y":180,"wires":[]},{"id":"79fa05a6.00b36c","type":"function","z":"4507fdcc.9441d4","name":"path and filename to payload","func":"parts = msg.topic.split('/');\nfiledata = msg.payload;\nmsg.payload = {};\nmsg.payload.path = msg.topic;\nmsg.payload.image = filedata;\nmsg.payload.sensor_name = null;\nif(parts.length > 1) {\n    msg.payload.sensor_name = parts[1];\n    msg.payload.image_path = parts;\n    msg.payload.value = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":100,"wires":[["5db8e9d4.19ba38"]]},{"id":"4b7d1dd.fadabe4","type":"function","z":"4507fdcc.9441d4","name":"Send HASS AutoDiscovery MQTT Config","func":"var sensor_config = {\n    payload: {\n        name: \"MoDetFTP: \"+msg.payload.sensor_name,\n        state_topic: \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/state\",\n        device_class: \"motion\",\n        payload_on: 1,\n        payload_off: 0,\n        value_template: \"{{ value_json.value }}\",\n        json_attributes_topic: \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/state\",\n    },\n    topic: \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/config\"\n};\nreturn sensor_config;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["fc2c8e70.23fa8"]]},{"id":"8e933788.a46688","type":"delay","z":"4507fdcc.9441d4","name":"Send Sensor Payload after 500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":180,"wires":[["fc2c8e70.23fa8"]]},{"id":"5db8e9d4.19ba38","type":"function","z":"4507fdcc.9441d4","name":"payload to MQTT","func":"msg.topic = \"homeassistant/binary_sensor/modetftp_\" + msg.payload.sensor_name + \"/state\";\nmsg.payload.image = null;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["4b7d1dd.fadabe4","8e933788.a46688","6da07b80.652404"]]},{"id":"ced9ebd1.240888","type":"change","z":"4507fdcc.9441d4","name":"detection level to 0","rules":[{"t":"set","p":"payload.value","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":280,"wires":[["fc2c8e70.23fa8"]]},{"id":"fc2c8e70.23fa8","type":"function","z":"4507fdcc.9441d4","name":"merge flows","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":180,"wires":[["7cb07afd.600704"]]},{"id":"6da07b80.652404","type":"trigger","z":"4507fdcc.9441d4","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"10","extend":true,"units":"s","reset":"","bytopic":"topic","name":"Clear Sensor after 10s of no motion","x":520,"y":240,"wires":[["ced9ebd1.240888"]]},{"id":"15ee600.b8d0fa","type":"http in","z":"db3e4528.9c0b28","name":"post to /wazeeta","url":"/wazeeta","method":"post","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["8fb498fc.672688","4aa8ffea.af313"]]},{"id":"8fb498fc.672688","type":"template","z":"db3e4528.9c0b28","name":"response OK template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"status\": \"ok\"}","output":"str","x":320,"y":140,"wires":[["e77295d3.bb1c48"]]},{"id":"e77295d3.bb1c48","type":"http response","z":"db3e4528.9c0b28","name":"response OK","statusCode":"200","headers":{"content-type":"application/json"},"x":590,"y":140,"wires":[]},{"id":"ff350c0c.db707","type":"switch","z":"db3e4528.9c0b28","name":"waze message?","property":"payload.message","propertyType":"msg","rules":[{"t":"cont","v":"Follow my drive using Waze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":320,"wires":[["79830ba7.1b62c4"]]},{"id":"79830ba7.1b62c4","type":"string","z":"db3e4528.9c0b28","name":"extract dest","methods":[{"name":"between","params":[{"type":"str","value":"on my way to "},{"type":"str","value":" arriving"}]}],"prop":"payload.message","propout":"payload.destination","object":"msg","objectout":"msg","x":490,"y":320,"wires":[["f51088bd.f35c28"]]},{"id":"f51088bd.f35c28","type":"string","z":"db3e4528.9c0b28","name":"extract arrival time","methods":[{"name":"between","params":[{"type":"str","value":"arriving at "},{"type":"str","value":". Follow my drive"}]}],"prop":"payload.message","propout":"payload.arrival_time","object":"msg","objectout":"msg","x":510,"y":360,"wires":[["1027bac.e33c745"]]},{"id":"1027bac.e33c745","type":"moment","z":"db3e4528.9c0b28","name":"parse incoming time","topic":"","input":"payload.arrival_time","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"payload.arrival_time_parsed","outputType":"msg","outTz":"America/Los_Angeles","x":520,"y":400,"wires":[["38c53642.47b2da"]]},{"id":"147f5116.5c027f","type":"inject","z":"db3e4528.9c0b28","name":"TestMessage","topic":"payload","payload":"{\"from\":\"+15558675309\",\"message\":\"I'm on my way to Work arriving at 10:45 PM. Follow my drive using Waze:\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["4aa8ffea.af313"]]},{"id":"b7a76778.15edd","type":"function","z":"db3e4528.9c0b28","name":"Parse to HMS","func":"eta = msg.payload.arrival_time_parsed;\nnow = msg.payload.now;\n\neta_date = new Date(eta.years,eta.months,eta.date,eta.hours,eta.minutes,eta.seconds,0);\nnow_date = new Date(now.years,now.months,now.date,now.hours,now.minutes,now.seconds,0);\n\ntotalseconds = (eta_date - now_date) /1000;\nhours = Math.floor(totalseconds / 3600);\nminutes = Math.floor((totalseconds / 60) % 60);\nseconds = Math.floor(totalseconds % 60);\n\nmsg.payload.hms = hours.toString().padStart(2,'0') + \":\" + minutes.toString().padStart(2,'0') + \":\" + seconds.toString().padStart(2,'0');\nmsg.payload.totalseconds = totalseconds\nmsg.payload.hours = hours;\nmsg.payload.minutes = minutes;\nmsg.payload.seconds = seconds;\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":520,"wires":[["67b96202.6fa9dc"]]},{"id":"4517cb40.ea9e74","type":"moment","z":"db3e4528.9c0b28","name":"inject current time","topic":"","input":"","inputType":"date","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"object","locale":"en_US","output":"payload.now","outputType":"msg","outTz":"America/Los_Angeles","x":510,"y":480,"wires":[["b7a76778.15edd"]]},{"id":"67b96202.6fa9dc","type":"function","z":"db3e4528.9c0b28","name":"payload to MQTT","func":"msg.topic = \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/state\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":740,"wires":[["7d7f3b4b.1065b4","40659e05.fb56"]]},{"id":"3f8759f8.ce7216","type":"mqtt out","z":"db3e4528.9c0b28","name":"WazeETAMQTT","topic":"","qos":"2","retain":"true","broker":"1e4d139e.30fabc","x":1080,"y":740,"wires":[]},{"id":"7d7f3b4b.1065b4","type":"function","z":"db3e4528.9c0b28","name":"Send HASS AutoDiscovery MQTT Config","func":"var sensor_config = {\n    payload: {\n        name: \"Waze ETA: \"+msg.payload.from,\n        state_topic: \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/state\",\n        value_template: \"arriving to {{ value_json.destination }} at {{ value_json.arrival_time_string }}\",\n        json_attributes_topic: \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/state\",\n    },\n    topic: \"homeassistant/sensor/wazeeta_\" + msg.payload.from + \"/config\"\n};\nreturn sensor_config;","outputs":1,"noerr":0,"x":580,"y":680,"wires":[["2019c9bb.aeda86"]]},{"id":"40659e05.fb56","type":"delay","z":"db3e4528.9c0b28","name":"Send Sensor Payload after 500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":740,"wires":[["2019c9bb.aeda86"]]},{"id":"2019c9bb.aeda86","type":"function","z":"db3e4528.9c0b28","name":"merge flows","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":740,"wires":[["bdb2e0d5.ad1cd","3f8759f8.ce7216"]]},{"id":"bdb2e0d5.ad1cd","type":"debug","z":"db3e4528.9c0b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":680,"wires":[]},{"id":"38c53642.47b2da","type":"moment","z":"db3e4528.9c0b28","name":"parse incoming time to string","topic":"","input":"payload.arrival_time","inputType":"msg","inTz":"America/Los_Angeles","adjAmount":0,"adjType":"days","adjDir":"add","format":"ddd, MMM Do YYYY, h:mm a","locale":"en_US","output":"payload.arrival_time_string","outputType":"msg","outTz":"America/Los_Angeles","x":540,"y":440,"wires":[["4517cb40.ea9e74"]]},{"id":"4aa8ffea.af313","type":"secret","z":"db3e4528.9c0b28","name":"valid phone numbers and names","x":350,"y":200,"wires":[["93dc7cf8.7a391"]]},{"id":"93dc7cf8.7a391","type":"json","z":"db3e4528.9c0b28","name":"parse json secrets","property":"secret","action":"","pretty":false,"x":310,"y":240,"wires":[["20d1bb99.47a244"]]},{"id":"20d1bb99.47a244","type":"function","z":"db3e4528.9c0b28","name":"from valid number?","func":"if(msg.secret.hasOwnProperty(msg.payload.from)){\n    msg.payload.from = msg.secret[msg.payload.from]\n    return msg\n}\nreturn null;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["ff350c0c.db707"]]},{"id":"6903b57e.1415ec","type":"server-state-changed","z":"19a0c8a7.4f2ce7","name":"front porch light on","server":"23f23227.0a5f4e","version":1,"entityidfilter":"light.front_porch_lights","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":60,"wires":[["ca165644.d19188"],[]]},{"id":"3f31de2c.1fbe72","type":"template","z":"19a0c8a7.4f2ce7","name":"Color Transition MQTT Payload","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"status\": \"ON\", \"brightness\":255, \"color\": {\"r\": {{ payload.color.r }}, \"g\": {{payload.color.g}}, \"b\": {{payload.color.b}}}, \"transition\": 1}","output":"json","x":1030,"y":60,"wires":[["3bc6af3e.c5355"]]},{"id":"a86364a5.866378","type":"template","z":"19a0c8a7.4f2ce7","name":"orange","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"color\": {\"r\": 255, \"g\": 52, \"b\": 0}}","output":"json","x":780,"y":180,"wires":[["3f31de2c.1fbe72","3aef01c5.6b016e"]]},{"id":"2cbd049c.eab95c","type":"template","z":"19a0c8a7.4f2ce7","name":"purple","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"{\"color\": {\"r\": 204, \"g\": 52, \"b\": 204}}","output":"json","x":770,"y":260,"wires":[["3f31de2c.1fbe72","d91e9edf.df4ba"]]},{"id":"d367da24.77c878","type":"split","z":"19a0c8a7.4f2ce7","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"light","x":490,"y":100,"wires":[["dbd863fd.62b8d"]]},{"id":"e6b16f70.e8f1f","type":"change","z":"19a0c8a7.4f2ce7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1,2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":60,"wires":[["d367da24.77c878"]]},{"id":"d6974065.f0619","type":"switch","z":"19a0c8a7.4f2ce7","name":"","property":"light","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":220,"wires":[["a86364a5.866378"],["2cbd049c.eab95c"]]},{"id":"d9cb2abe.946318","type":"change","z":"19a0c8a7.4f2ce7","name":"","rules":[{"t":"set","p":"light","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["d6974065.f0619"]]},{"id":"dbd863fd.62b8d","type":"template","z":"19a0c8a7.4f2ce7","name":"set MQTT topic for light","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"milight/0xFD01/rgb_cct/{{payload}}","output":"str","x":550,"y":140,"wires":[["d9cb2abe.946318"]]},{"id":"3aef01c5.6b016e","type":"delay","z":"19a0c8a7.4f2ce7","name":"14s","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":180,"wires":[["96675a60.3f7d88"]]},{"id":"d91e9edf.df4ba","type":"delay","z":"19a0c8a7.4f2ce7","name":"14s","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":260,"wires":[["a601b21c.f09bc"]]},{"id":"3bc6af3e.c5355","type":"mqtt out","z":"19a0c8a7.4f2ce7","name":"","topic":"","qos":"","retain":"","broker":"14a18263.e5bbde","x":1310,"y":60,"wires":[]},{"id":"96675a60.3f7d88","type":"api-current-state","z":"19a0c8a7.4f2ce7","name":"porch light on?","server":"23f23227.0a5f4e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.front_porch_lights","state_type":"str","state_location":"entity_state","override_payload":"msg","entity_location":"entity_data","override_data":"msg","blockInputOverrides":false,"x":1100,"y":180,"wires":[["2cbd049c.eab95c"],[]]},{"id":"a601b21c.f09bc","type":"api-current-state","z":"19a0c8a7.4f2ce7","name":"porch light on?","server":"23f23227.0a5f4e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.front_porch_lights","state_type":"str","state_location":"entity_state","override_payload":"msg","entity_location":"entity_data","override_data":"msg","blockInputOverrides":false,"x":1100,"y":260,"wires":[["a86364a5.866378"],[]]},{"id":"ca165644.d19188","type":"api-current-state","z":"19a0c8a7.4f2ce7","name":"Halloween Mode?","server":"23f23227.0a5f4e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.halloween_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":330,"y":60,"wires":[["e6b16f70.e8f1f"],[]]},{"id":"46060212.fe828c","type":"template","z":"19a0c8a7.4f2ce7","name":"all porch lights topic","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"milight/0xFD01/rgb_cct/0","output":"str","x":550,"y":380,"wires":[["e41e62c8.cbdf6"]]},{"id":"467f1e30.2c3f5","type":"template","z":"19a0c8a7.4f2ce7","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"status\": \"OFF\"}","output":"json","x":770,"y":380,"wires":[["65d5c064.3237c","daf1915a.aa3f6"]]},{"id":"65d5c064.3237c","type":"mqtt out","z":"19a0c8a7.4f2ce7","name":"","topic":"","qos":"","retain":"","broker":"14a18263.e5bbde","x":950,"y":400,"wires":[]},{"id":"daf1915a.aa3f6","type":"template","z":"19a0c8a7.4f2ce7","name":"ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"status\": \"ON\", \"brightness\": 255, \"kelvin\": 0}","output":"json","x":770,"y":420,"wires":[["65d5c064.3237c","e41e62c8.cbdf6"]]},{"id":"a78c2fb3.0ba37","type":"inject","z":"19a0c8a7.4f2ce7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["46060212.fe828c"]]},{"id":"e41e62c8.cbdf6","type":"repeat","z":"19a0c8a7.4f2ce7","name":"","repetitions":"3","elseOutput":true,"outputs":2,"x":560,"y":420,"wires":[["467f1e30.2c3f5"],["a9bc9313.98b61"]]},{"id":"fb7b06d8.028e78","type":"server-state-changed","z":"19a0c8a7.4f2ce7","name":"driveway motion detected","server":"23f23227.0a5f4e","version":1,"entityidfilter":"binary_sensor.motion_front_driveway","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":130,"y":340,"wires":[["9e236d72.91ed4"],[]]},{"id":"9e236d72.91ed4","type":"api-current-state","z":"19a0c8a7.4f2ce7","name":"Halloween Mode?","server":"23f23227.0a5f4e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.halloween_mode","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":340,"wires":[["a84d6456.0ccde8"],[]]},{"id":"a9bc9313.98b61","type":"template","z":"19a0c8a7.4f2ce7","name":"red","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"status\": \"ON\", \"brightness\": 255, \"color\": \"255,0,0\"}","output":"json","x":770,"y":480,"wires":[["65d5c064.3237c"]]},{"id":"a84d6456.0ccde8","type":"api-current-state","z":"19a0c8a7.4f2ce7","name":"Porch light on?","server":"23f23227.0a5f4e","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.front_porch_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":340,"wires":[["46060212.fe828c"],[]]}]